[user]
  email = smartinellimarco@icloud.com
  name = smartinellimarco
[core]
  editor = nvim
  pager = less --mouse
[credential "https://github.com"]
  helper = 
  helper = !gh auth git-credential
[credential "https://gist.github.com"]
  helper = 
  helper = !gh auth git-credential

# vim: ts=2 sts=2 sw=2 et
