# TODO: use 'yadm' as diff provider
# TODO: auto-format not working with ruff
# TODO: match inside comments
# TODO: match arround "" is broken when standing in a "
theme = "nord"

[editor]
cursorline = true
line-number = "relative"
color-modes = true
popup-border = "all"
rainbow-brackets = true
completion-timeout = 5
completion-replace = true
default-line-ending = "lf"
trim-final-newlines = true
trim-trailing-whitespace = true
end-of-line-diagnostics = "hint"
preview-completion-insert = false

[editor.soft-wrap]
enable = true

[editor.statusline]
left = [
  "mode",
  "spacer",
  "current-working-directory",
  "file-name",
  "version-control",
  "spacer",
  "file-modification-indicator"
]
right = [
  "spinner",
  "spacer",
  "diagnostics",
  "workspace-diagnostics",
  "position-percentage",
  "position"
]

[editor.cursor-shape]
insert = "bar"

[editor.file-picker]
hidden = false

[editor.indent-guides]
render = true
skip-levels = 1

[editor.inline-diagnostics]
cursor-line = "warning"

[editor.word-completion]
enable = true
trigger-length = 1

[editor.gutters]
layout = ["diff", "spacer", "line-numbers", "spacer"]

[editor.gutters.line-numbers]
min-width = 1

[keys.normal]
tab = "move_parent_node_end"
S-tab = "move_parent_node_start"

[keys.normal.g]
q = ":format"

[keys.insert]
S-tab = "move_parent_node_start"

[keys.select]
tab = "extend_parent_node_end"
S-tab = "extend_parent_node_start"
